%h1
  Welcome to Quizzy
  %a{:href => '/quizzes'}
    View Quizzes
  %a{:href => '/accounts/create'}
    Create New Account
  - if authorized?
    %a{:href => '/logout'}
      Log Out
  - else
    %a{:href => '/login'}
      Log In
